@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}




html {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to bottom, rgb(225, 208, 158), #893d3d);
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradienT(rgba(0, 0, 0, 0.5),
            rgba(225, 208, 158, 0.274)),
        url(images/men.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    opacity: 0;
    animation: fade-in 2s forwards;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo img {
    width: 65px;
    /* Ajusta el ancho según tus necesidades */
    animation: bounce 4s infinite;
}


@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }



.menu.container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 100px;
    /* Ajusta el margen según tus necesidades */
}


.menu .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    top: 100%;
    margin-top: -40px;
    left: 160px;
    background-color: #000000ec; /* Cambia el color de fondo según tus necesidades */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Cambia la sombra según tus necesidades */
    border-radius: 30px ;
    z-index: 1;
}



.menu .navbar ul li {
    position: relative;
    float: left;
   
    
}

.menu .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #ffffff;
    display: block;
    transition: transform 0.6s ease-in-out;
    justify-content: center;
    display: flex;
    font-size: 1.2rem;
}

.menu .navbar ul li.active a {
    color: rgb(241, 204, 102);
    font-weight: 600;
}

#menu {
    display: none;
}


.menu label {
    cursor: pointer;
    display: none;
}

.menu .navbar label {
    display: block;
  }
  
  #menu:checked ~ .navbar ul {
    opacity: 1;
    visibility: visible;
  }

  #menu:checked ~ .navbar ul li {
    animation: fadeIn 0.80s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.header-txt {
    width: 100%;
}

.header-txt h1 {
    font-size: 100px;
    line-height: 70px;
    color: #ffffff;
    margin-bottom: 15px;
}

.header-txt p {
    font-size: 16px;
    color: #E0E0E0;
    margin-bottom: 6px;
}

.btn-1 {
    display: inline-block;
    padding: 5px 20px;
    background-color: #af3e3e;
    color: #fefcfb;
    border-radius: 25px;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 180px;
}




.btn-1:hover {
    background-color: #643535;
}

.direction {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    opacity: 0;
    animation: fade-in 5s forwards;
}



.direction.container p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #555555;
    padding: 12px;
    font-size: 20px;
    animation-name: fadeAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 0;
    animation: fade-in 2s forwards;
}

@keyframes fadeAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.highlight {

    color: #ca67679e;
}


.direction.container {
    Opacity: 0;
    animation: fade-in 6s forwards;

}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}




.direction p {
    color: #000000;
    font-size: 16px;
}

.direction.container p a {
    color: black;
}


.about {
    padding: 100px 0;
    display: flex;
    opacity: 0;
    animation: fade-in 2s forwards;
}

.about-txt {
    width: 50%;
}

.about-img {
    width: 50%;
    opacity: 0;
    animation: fade-in 4s forwards, bounce 0.8s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

.about-img img {
    width: 450px;
}

.about-txt h2 {
    color: #b33d3d;
}

.about-txt p {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 6px;
    font-family: 'Sen', sans-serif;
}

h2 {
    font-size: 70px;
    color: #ffffff;
    margin-bottom: 15px;
}



@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.information {
    display: inline-block;
    justify-content: center;
    align-items: center center;
    padding: 30px 0;
    opacity: 0;
    animation: slide-in 5s forwards;
    
}

.button-link {
    margin-top: 10px;
    display: inline-block;
    padding: 6px 15px;
    right: 10px;
    background-color: #e04646be;
    color: #ffffff;
    text-decoration: none;
    border-radius: 60px;
    transition: background-color 0.3s ease;
    align-items: center;
   
  }
  
  .button-link:hover {
    background-color: #dfda94;
  }


.information-1 {
    display: flex;
    align-items: center;
}

.information-1 a {
    text-decoration: none;
    color: #ffffff;
}


.information-1 h3 {
    font-size: 28px;
    color: #000000;
}

.information-1 p {
    font-size: 20px;
    color: #000000;
    margin-left: 15px;
}

.house {
    display: flex;
    justify-content: space-between;
    opacity: 0;
    animation: fade-in 4s forwards;
}

.house-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)),
        url(images/iphone\ 14.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    padding: 25px;
    transition: opacity 1s ease-in-out;
}

.house-1.show {
    opacity: 1;
}

.comprar-button {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ebd694;
    color: #000;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 400px;
    left: 0;
    rotate: 270deg;
}



.comprar-button:hover {
    background-color: #ffffff;
}


.house-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)),
        url(images/iphone\ 13.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    padding: 25px;
}

.house-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)),
        url(images/iphone\ 12.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    padding: 25px;
}

.house-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)),
        url(images/iphone\ 11.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    padding: 25px;
}

.house-5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)),
        url(images/macbook.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    padding: 25px;
}

.house-6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.1)),
        url(images/applewatch.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    padding: 25px;
}

.txt {
    position: relative;
}

.txt h3 {
    color: #ffffff;
    font-size: 35px;
}

.txt p {
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    top: 400px;
    left: 0;
    rotate: 270deg;
}


.footer {
    padding: 100px 0 0 0;
}

.footer-content {
    display: flex;
}

.footer-form {
    width: 50%;
}



.footer-form h2 {
    color: #eecd87;
    font-size: 40px;
    margin-top: 20px;
    margin-right: 150px;
}

.footer-txt {
    width: 50%;
}

form {
    display: flex;
    width: 350px;
    flex-direction: column;
    margin-left: 200px;
}

.campo {
    background-color: #cacaca;
    padding: 17px 35px;
    outline: none;
    color: #000000;
    border: 0;
    margin-bottom: 10px;
    border-radius: 30px;
}

.campo::placeholder {
    color: #000000;
}

.btn-2 {
    padding: 17px 35px;
    border: 2px solid #f8f8f8;
    background-color: #d854548c;
    color: #fefcfb;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.footer-txt h3 {
    color: #ffffff;
    font-size: 20px;
    margin: 0 100px 20px 0;
}

.whatsapp-button {
    display: inline-block;
    padding: 6px 14px;
    background-color: #59a029;
    color: #ffffff;
    text-decoration: none;
    border-radius: 100px;
    transition: background-color 0.3s ease;
    text-align: center;
    
    
}

.whatsapp-button:hover {
    background-color: #56bb58;
}


.footer-txt p {
    margin-bottom: 25px;
    font-size: 20px;
    color: #ffffff;
}

.footer-2 p {
    padding: 50px 0;
    text-align: center;
    font-size: 2px;
    color: #000000;
}

html {
    scroll-behavior: smooth;
}

.section[id] {
    scroll-margin-top: 70vh;
}



/* RESPONSIVE PARA TODAS LAS PANTALLAS */
@media(max-width:991px) {
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #000000;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
        opacity: 0;
        animation: fade-in 4s forwards;
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }


    .header-content {
        padding: 100px 30px;
    }

    .header-txt {
        width: 100%;
        text-align: center;
    }

    .header-txt h1 {
        font-size: 45px;
        line-height: 80px;
        opacity: 0;
        animation: fade-in 6s forwards;
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }



    .direction {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }



    .direction p {
        margin-bottom: 10px;
    }

    .direction.container p {
        font-size: 15px;

    }

    .direction.container p a {
        color: black;
    }


    .about {
        padding: 0 30px 30px 30px;
        flex-direction: column;
    }

    .about-txt {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
        opacity: 0;
        animation: fade-in 9s forwards;
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }





    .about-txt h2 {
        font-size: 40px;
        color: #972121;
    }

    .about-txt p {
        font-size: 15px;
    }

    .about-img {
        width: 100%;
        order: 2;
        text-align: center;
    }

    .about-img img {
        width: 300px;
    }

    .information {
        padding: 30px;
        flex-direction: column;
        margin-left: 80px;

    }

    .house {
        flex-direction: column;
    }

    .footer {
        padding: 30px 30px 0 30px;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-form {
        width: 100%;
        text-align: center;
    }


    .footer-txt {
        text-align: center;
        width: 100%;
    }

    .footer-txt h3 {
        margin: 0 0 20px 0;
    }

    .form {
        width: 100%;
        margin: 0 0 25px 0;
        display: flex;
    }

    .footer-2 p {
        text-align: center;
    }


}

@media screen and (max-width: 900px) {
    .navbar {
        padding: 0;
    }

    .menu label .i {
        display: block;
    }
    
    .menu .navbar ul {
        top: 0px;
        left: 0;
        position: absolute;
        background-color: #00000065;
        backdrop-filter: blur(10px);
        width: 100%;
        height: 58vh;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: slideIn 1s ease;
    }

    .header .nav-links.mobile-menu {
        animation: slideOut 2s ease;
    }
    .navbar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        margin: 7px 0;
        font-size: 3rem;
    }

    @keyframes slideIn {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0%);
        }
    }

    @keyframes slideOut {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}
    


@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-form {
        width: 100%;
        margin: 50px 0;
    }

    .footer-form h2 {
        margin-right: 0;
    }

    form {
        width: 100%;
        margin-left: 0;
    }
}